
<div class="max-w-2xl mx-auto p-6"> <!-- el max-width-2xl se modificó, antes era max-w-4xl para temas con el ancho -->
    <div class="bg-white rounded-lg shadow-lg p-8"> 
<div class="max-w-md mx-auto ">


<p-table 
    [value]="listaT2"
    [loading]="loading"
    [tableStyle]="{'min-width': '3rem'}"
    style="display: block; overflow-x: auto;"
    scrollable="true"
    scrollHeight="70vh"
>

        
    <!-- OBLIGATORIO: HEADER -->
    <ng-template pTemplate="header">
        <tr>
            <th class="!text-center">Cod</th>
            <th class="!text-center">Nombre</th>
            <th class="!text-center">Estado</th>
            
        </tr>
    </ng-template>

    <!-- BODY -->
<ng-template pTemplate="body" let-item>
                    <tr class="border-b">
                        <td class="p-2">{{item.esp}}</td>
                        <td class="p-2">{{item.nesp}}</td>
                        <td class="p-2 !text-center">
                            <p-tag 
                                [severity]="item.rta == '1' ? 'success' : 'danger'" 
                                [value]="item.rta == '1' ? 'Sí' : 'No'" 
                                [rounded]="true" />
                        </td>
                    </tr>
                </ng-template>

</p-table>